body {
    font-family:'Open Sans', sans-serif;
   font-size:14px;
}

.page-header h1, .page-header, h2 {
    text-align: center;
    color: black;
}

.page-header {
    background: url('https://i.pinimg.com/originals/fc/44/d7/fc44d73a184bb4df9b72af2fff1f0dac.png') no-repeat center 100%;
    background-size: cover;
    min-height: 600px;
}

nav{
    background-color:#1e212d;
  }
  nav ul{
    margin:0;
    padding:0;
    list-style-type:none;
  }
  nav li{
    display:inline-block;
  }
  nav li a{
    display:inline-block;
    text-decoration:none;
    color:white;
    padding:14px 16px;
  }

  nav li:hover{
    background-color:#d8ac9c;
  }

  * {box-sizing: border-box}

  /* Add padding to containers */
  .container {
    padding: 20px;
  }
  
  .inside{
      padding-left: 50px;
      padding-right: 400px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border:#1e212d;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    border:#1e212d;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */

  
 
  
  /* Set a grey background color and center the text of the "sign in" section */

  
  button {
    background-color: #bdb6b4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    font-weight: bolder;
    font-size: 30px;
    
  }

  button:hover{
    background-color: #616161;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
    padding-right: 400px;
  }


  #form{
      /* margin: 100px; */
   
      width: 770px;
        border-radius: 5px;
        background-color: #eabf9f;
        padding: 20px;
        font-size: larger;
        font-weight: bolder ;
        height: 700px;
    
  }

  input[type=text], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }


  input[type=password], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  


  .bodyform {
    margin-top: 50px;
    padding: 0;
    font-family: 'Hind', sans-serif;
    background: #fff;
    color: #4d5974;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
  }


  .space-free {
    height:100px;
}


section {
    padding-top:50px;
    padding-bottom:30px;
}

.color-light {
    background-color:#E9E9E9!important;
 }

 #social-icon a {
    color:#616161!important;
    margin-right:10px;
}
.text-center {
    text-align:center;
}

#map-sec{
  margin: 20px;
}


.cnt {
  width: 100%;
  min-height: 350px;
  border: 1px solid #e1e1e1;
  }

  @media screen and (max-width: 600px) {
  
    .text-containter, .image-containter {
        width: 100%;
    }
    
    h1 {
        font-size: 25px;
        color: rgb(77, 14, 224);
    
    }
    
    h2 {
        font-size: 14px;
    }
    
    nav {
        text-align: center
    }
    
    table {
        width: 100%
    }
    .metmoi{
      display: none;
      visibility: hidden;
    }

    
}
