beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
idna==2.9
jsonify==0.5
pafy==0.5.5
requests==2.23.0
selenium==3.141.0
soupsieve==2.0
urllib3==1.25.8
youtube-dl==2020.2.16
selenium==3.141.0
webdriver-manager==3.4.1
google-api-core==1.27.0
google-api-python-client==2.4.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
pandas==1.2.4
apscheduler==2.1.2
chromedriver-binary==91.0.4472.19.0
